{% extends "bookstore/layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="https://raw.githubusercontent.com/icesonata/Mybrary/main/bookstore/static/bookstore/styles/index.css">
{% endblock %}

{% block title %}
    Mybrary
{% endblock %}

{% block body %}
    <!-- <h1 class="cover-heading">Online Book Station</h1> -->
    <div class="container">
        <p class="lead motto">
            The world of reading where you can find the most exciting book <br> while connecting and sharing your thought with others 
        </p>
        <p class="lead">
            <a class="btn btn-lg btn-secondary" href="{% url 'bookstore:search' %}" >Find your own book</a>
        </p>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
