{% extends "bookstore/layout.html" %}
{% load static %}

{% block styles %}
{% endblock %}

{% block title %}
{% endblock %}

{% block body %}
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
        <a class="btn btn-lg btn-secondary" href="{% url 'bookstore:search' %}" >Search for your own book</a>
    </p>
{% endblock %}

{% block scripts %}
{% endblock %}