{% extends "bookstore/layout.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'bookstore/styles/item.css' %}">
<style>
.main-pane {
    border: 3px solid grey;
    background-color: white;
    width: 100%;
    /* width: 900px; */
    padding: 20px 40px 20px 20px;
    /* height: 500px; */
    color: rgb(42, 42, 42);
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Navigation */
/* .main-pane > a {
    color: black;
    font-weight: bold;
    text-align: left;
    margin: 0 0 30px 0;
} */

/* Resize the book's cover */
.cover > img {
    width: 160px;
    height: 250px;
}

/* Comment section */
.form-comment {
    /* display: flex; */
    margin: 0px 0px 20px 0px ;
    text-align: right;
}

.form-comment textarea {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: 2px solid grey;
    padding: 0px 40px;
    /* right: 0px; */
}

.form-comment textarea:focus {
    /* box-shadow: 0 0 2pt 2pt black; */
    outline: none;
}

.form-comment button {
    border-radius: 5px;
    background-color: rgb(0, 79, 191);
    border: 2px solid rgb(0, 79, 191);
    padding: 0px 20px;
    font-weight: bold;
    color: white;
    height: 40px;
    
    /* float: right; */
    /* margin: 0 0 20px 0; */
    /* margin-left: 40px; */
}

.form-comment button:hover {
    cursor: pointer;
}

#input-username {
    border-radius: 5px;
    margin: 0 0 0 10px;
}

.form-comment > label, #input-username {
    float: left;
}

/* ::-webkit-input-placeholder {
    text-align: center;
    vertical-align:text-bottom;
} */

.user-avatar {
    margin: 0 10px 20px 10px;
    text-align: center;
    width: 5em;
    height: 5em;
}

.user-avatar > img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.comment {
    border: 2px solid grey;
    border-radius: 5px;
    width: 100%;
    /* height: 100px; */
    padding: 20px;
    margin: 10px 0 10px 0;
}

.cmt-username, .cmt-username:hover {
    text-decoration: none;
    color: blue;
}

.timestamp {
    text-align: right;
    float: right; /* put timestamp in the same line of username */
}
</style>
{% endblock %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block body %}
    <div class="main-pane">
        <!-- <a class="nav" href="{{request.META.HTTP_REFERER}}">< Back to search</a> -->
        <div class="book-info">
            <div class="row">
                <div class="col-3">
                    <div class="cover">
                        <img src="{{ imgsrc }}" alt="{{ book.title }}"/>
                    </div>
                </div>
                <div class="col-9">
                    <h1>{{ book.title }}</h1>
                    <p style="text-align: justify;">
                        <b>ISBN</b>:            {{ book.isbn }}<br>
                        <b>AUTHOR</b>:          {{ book.author }}<br>
                        <b>PUBLISHED DATE</b>:  {{ book.publish_date }}<br>
                        <b>AVERAGE RATING</b>:  {{ book.average_rating }}<br>
                        <b>RATINGS COUNT</b>:   {{ book.ratings_count }}<br>
                        <b>DESCRIPTION</b>:     {{ book.description }}<br>
                    </p>
                </div>
            </div>
        </div>

        <!-- Comment section -->
        <p><i>Comment section:</i></p>
        <form class="form-comment" action="{% url 'bookstore:item' isbn=book.isbn %}" method="post">            
            {% csrf_token %}
            <textarea id="" name="content" rows="4" cols="50" placeholder="Write your thought about this book.."></textarea>
            <label for="username"><b>Username: </b></label>
            <input id="input-username" type="text" name="input-username" value="{{username|default:'anonymous'}}" readonly disabled>
            <button type="submit">Send</button>
        </form>

        <div class="container-comments">
            {% for cmt in cmts %}
                <div class="comment">
                    <div class="row">
                        <div class="col-2">
                            <div class="user-avatar" style="text-align: center;">
                                {% if cmt.user.profile.image.url %}
                                    <img src="{{ cmt.user.profile.image.url }}" alt="{{ user.username }}'s avatar">
                                {% else %}
                                    <!-- Default icon for anonymous user -->
                                    <!-- <i class="fas fa-user-circle fa-5x"></i> -->
                                    
                                    <!-- Default avatar for anonymous user -->
                                    <img src="{% static 'bookstore/media/default.png' %}" alt="anonymous's avatar">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-10">
                            <a class="cmt-username" href="#">{{ cmt.user }}</a>
                            <div class="timestamp">
                                <i>{{cmt.timestamp|date:"H:i:s, d/m/Y"}}</i>
                            </div>
                            <br>
                            <p style="text-align: justify;">
                                {{ cmt.content }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!-- Sample comment -->
            <!-- <div class="comment">
                <div class="row">
                    <div class="col-2">
                        <div class="user-avatar" style="text-align: center;">
                            <i class="fas fa-user-circle fa-5x"></i>
                        </div>
                    </div>
                    <div class="col-10">
                        <a class="username" href="#" style="color: blue;">adminadminadminadminadminadminadminadminadminadmin</a>
                        <div class="timestamp" style="float: right;">
                            <i>
                                17:14:53,
                                08-03-2021
                            </i>
                        </div>
                        <br>
                        <p style="text-align: justify;">
                            NO SAFE PLACE LEFT At great cost to the Garrison and the Survey Corps, Commander Erwin has managed to recover Eren from the Titans who tried to carry him off. But during the battle, Eren manifested yet another power he doesn't understand. As Eren and Krista find new enemies, the Survey Corps faces threats from both inside and outside the walls. And what will happen to Ymir, now that she has decided to make herself the Titans' prize?
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script defer src="{% static 'bookstore/scripts/item.js' %}"></script>
{% endblock %}
